@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;600;700&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-fam: 'Sora', sans-serif;

  --light: hsl(180, 7%, 97%);
  --medium: hsl(200, 0%, 48%);
  --dark: hsl(210, 100%, 0%);
  --accent: hsl(202, 66%, 25%);
    
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.25rem;
  --body: 1rem;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  line-height: 1.6;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  font-family: var(--font-fam);
  background: var(--dark);
  color: var(--light);
}

section {
  padding: 3em 3em 6em;
  display: block;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 3px 6px;
  font-size: 11px;
}

.image-container {
  width: 350px;
  height: auto;
  object-fit: fill;
  padding: 0 3em;
}
.image-container img {
  width: 300px;
  height: auto;
}

.quote-container {
  display: block;
  padding: 0 2em;
}

.quote-body {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 0;
}

.quote-author {
  font-size: var(--h3);
}

.btn-container{
  margin: 3em 0em;
}

.btn {
  width: auto;
  height: auto;
  padding: .5em .7em;
  border: 2px solid var(--light);
  cursor: pointer;
  background: none;
  transition: .5s;
  font-family: var(--font-fam);
  font-size: var(--body);
  border-radius: 1px;
  color: var(--light);
}

.btn:hover {
  border: none;
  color: white;
  font-size: 20px;
  transform:scale(1.1);
  background-color: var(--accent);
}

.refresh {
  margin: 0 2px;
  width: 20px;
  height: 20px;
}

@media (min-width: 600px) {
  section {
    display: flex;
  }
}