@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-fam: 'Fraunces', serif;

  --light: hsl(180, 7%, 97%);
  --medium: hsl(202, 5%, 69%);
  --dark: hsl(210, 100%, 0%);
  --accent: hsl(202, 43%, 58%);
  --accent-light: hsl(202, 50%, 65%);

  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.25rem;
  --body: 1rem;
}

.app,
body,
html {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 2.5rem 0;
  width: 100%;
  opacity: 0.7;
  width: 100%;
}

.quote {
  min-height: 80vh;
  width: 75vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  place-items: center center;
  font-family: var(--font-fam);
  font-weight: 300;
}

.blockquote {
  text-align: center;
  font-size: 1.25rem;
  color: hsl(180, 7%, 97%);
  display: block;
}

.author {
  color: var(--light);
  font-family: var(--font-fam);
}

.author:before {
  content: '— ';
}

.quote-container {
  margin: 2em auto;
  width: 90%;
}

.btn-wrapper {
  margin: 0.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  font-size: 1rem;
  font-family: var(--font-fam);
  font-weight: 600;
}

.title {
  margin: 0.75rem auto 0;
  color: var(--medium);
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Cinzel', serif;
}

.btn-tweet {
  color: var(--light);
  text-decoration: none;
}

.footer {
  font-family: var(--font-fam);
  width: 100%;
  color: var(--light);
  font-size: 0.6rem;
}

.footer a {
  color: var(--accent);
  text-decoration: none;
}

.footer a:hover {
  color: var(--accent-light);
}

.line-icon {
  text-align: center;
}

.line-container {
  color: var(--light);
}

.line-icon::before,
.line-icon::after {
  color: white;
  width: 35%;
  height: 1px;

  /* Changed to border-top (instead of border) to simulate a line better */
  border-top: 2px solid #ccc;

  /* Styles added */
  display: inline-block;
  content: '';

  /* Use padding to vertical align the line */
  /* Use padding in em for a responsive icon height */
  padding-top: 0.5em;

  /* Use margins to give the lines some space around the icon */
  /* Use margins in % for a responsive space */
  margin-left: 5%;
  margin-right: 5%;
}
