*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --light: #FCFCFC;
  --medium: #d3d3d3;
  --dark: #121113;
  --accent: #a48dc9;
    
  --h1: 3rem;
  --h2: 2.25rem;
  --h3: 1.25rem;
  --body: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  font-family: sans-serif;
  font-size: var(--fs-body);
  line-height: 1.6;
}


section {
  padding: 3em 3em 6em;
}

.wrapper {
  background: var(--dark);
  color: var(--light);
}

footer {
  background: var(--dark);
  color: var(--light);
}

header {

}

.quote-container {
  display: block;
}

.quote-body {
  font-weight: var(--body);
}

.quote-author {
  font-weight: var(--body);
}